extends layout

block content
  h1= title
  p Welcome to #[em Nurlihayot], a very basic islamic news website developed as a personal blog in Node.js.

  h1 Nurlihayot content

  p The nurlihayot has the following record counts:

  ul
    li #[strong Posts:] !{postCount}
    li #[strong Media:] !{mediaCount}
    li #[strong Media videos:] !{mediaVideoCount}
    li #[strong Users:] !{userCount}
    li #[strong Lists:] !{listCount}
    li #[strong Addresses:] !{addressCount}
