extends layout

block content
    h1 
        a(href=list.user.url) #{list.user.name}: 
    h3 #{list.name}

    div(style='margin-left:20px;margin-top:20px')

        h4 Posts
        
        each postMediaArray in postMedia
            each post in postMediaArray
                if post[0] === undefined
                    p /// POST object is displayed below ///
                    p= post

                p= typeof(post[0])
                //- p= post[0]       
                hr         
                //- p= post.title 
                //- p #[em #{post.description}]
                //- p #{post.created_formatted}
                //- img(src=`data:image/${media.file.contentType};base64, ${media.file.data.toString('base64')}` width='300px' heigth='300px')
            

        //- dl
        //-     each post in listPosts
        //-         dt
        //-             a(href=post.url) #{post.title}
        //-         dd #{post.created_formatted}
        
        //-     else
        //-         p This list has no posts