extends layout

block content
    //- <ul class="nav nav-tabs">
    //- <li class="active"><a href="#">Home</a></li>
    //- <li class="dropdown">
    //-     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu 1
    //-     <span class="caret"></span></a>
    //-     <ul class="dropdown-menu">
    //-     <li><a href="#">Submenu 1-1</a></li>
    //-     <li><a href="#">Submenu 1-2</a></li>
    //-     <li><a href="#">Submenu 1-3</a></li>
    //-     </ul>
    //- </li>
    //- <li><a href="#">Menu 2</a></li>
    //- <li><a href="#">Menu 3</a></li>
    //- </ul>

    ul(class="container-fluid nav nav-tabs user_details-ul")
        li(class="dropdown" id="li-first")
            a(class="dropdown-toggle" data-bs-toggle="dropdown" href="#") Username
                span(class="caret")
            ul(class="dropdown-menu")
                li
                    a(href="#") Switch account window
        li
            a(href="#") Prof-views
        li
            a(href="#") Settings
                
    div(class="container")
        div(class="row")
            div(class="col-xs-3")
                img(src=`data:image/${avatar.file.contentType};base64, ${avatar.file.data.toString('base64')}` width='150px' heigth='150px')
            div(class="col-xs-9")
        div(class="row")
            h1= user.name

        div(class="row")
            div(class="col-xs-4")
                a(href="#") Posts 
            div(class="col-xs-4")
                a(href="#") Blogs
            div(class="col-xs-4")
                a(href="#") Others
    h3 
        each val, index in userList
            a(href=val.url) #{val.name}
            if index < userList.length - 1
                |,
        else
            p This user is not available.

    p Bio: #{user.bio ? user.bio : ''}
    p Date of birth: #{user.dob ? user.dob : ''}
    p Created at: #{user.created_formatted ? user.created_formatted : ''}
    p 
        a(href=`/addresses/${user.id}`) Address: 
        each address in userAddress
            if address !== undefined
                | #{userAddress[0].lineOne}, #{userAddress[0].city}, #{userAddress[0].postcode}
    p Tel.: #{user.telephone ? user.telephone : ''}
    p Email: #{user.email ? user.email : ''}
    p Accounts:
    
    each index in user.accounts
        if index.kind == "internal"
            p
                a(href=user.url) #{index.username}
        else
            p #{index.kind} 
                a(href=`${index.kind}.com`) #{index.uid}

    each arrPostMedia in postMedia
        each post in arrPostMedia
            if post[0] === undefined
                p= post.title
                p= post.title 
                p #[em #{post.description}]
                p #{post.created_formatted}
            else 
                img(src=`data:image/${post[0].file.contentType};base64, ${post[0].file.data.toString('base64')}` width='300px' heigth='300px')

    hr
    a(href=`${user.id}/settings/`) Settings
    


    //- script !{getAdmin}
    //- script.
    //-     const btnGetAdmin = document.getElementById("getAdmin");
    //-     btnGetAdmin.addEventListener("click", getAdmin);
    //-     function getAdmin(){
    //-         var url = window.location.pathname;
    //-         var id = url.substring(url.lastIndexOf('/') + 1);

    //-         console.log(id);
    //-     }